$primary:             #542E8E;
$secondary:           #b43a8f;
$turquoise: #1aafba;

/** Box Model  */
$spacer:                2rem;

// // Fonts
$font-family: 'Open Sans', sans-serif;
$button-font-size:  15px;


